//
// Variables
// --------------------------------------------------

//== Header
//
//## Settings for the header - height etc

// The height of the footer
$header-height: 80px;

//== Footer
//
//## Settings for the footer - height, color etc

// The height of the footer
$footer-height: 60px;

// The background color of the footer
$footer-color: #f5f5f5;
